body {
  line-height: 1.6;
  font-size: 18px;
  padding: 0 20px;
  margin: 10px auto;
  max-width: 550px;
}

h1 {
  font-style: italic;
  font-size: 24px;
}

h2 {
  font-style: italic;
  font-size: 18px;
}

a:link,
a:visited {
  color: blue;
}

.center {
  object-position: 50% 50%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 5%; 
  border-radius: 50%; 
}

div.experience li {
  margin: 5px 0;
}

div.consulting li {
  margin: 5px 0;
}

#headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#titleContainer {
  text-align: center;
  flex-grow: 1;
}

#profilePic {
  width: 100px;
  border-radius: 50%; 
  margin: 10px;
}

.date {
    display: block;
    font-weight: 300;
    color: #000000;
    text-align: right;
    display: block;
    float: right;
  }
  

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 0 10px;
    margin: 10px auto;
    max-width: 100%;
  }

  #headerContainer, #titleContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .date {
    display: block;
    font-weight: 300;
    color: #000000;
    text-align: None;
    display: block;
    float: None;
  }

  #profilePic {
    width: 100px;
    border-radius: 50%; 
    margin: 10px;
  }

  .center {
    width: 10%;
  }

  div.experience li {
    margin: 5px 0;
  }
  
  div.consulting li {
    margin: 5px 0;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }
}
